<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"jugogradnja/velux-hero"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-upit"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-stats"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-promo"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-prozori"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-reviews"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-roletne-dodaci"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-upit"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-bottom-cta"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
