<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"jugogradnja/about-intro"} /-->
<!-- wp:pattern {"slug":"jugogradnja/about-history"} /-->
<!-- wp:pattern {"slug":"jugogradnja/about-mission"} /-->
<!-- wp:pattern {"slug":"jugogradnja/about-team"} /-->
<!-- wp:pattern {"slug":"jugogradnja/licenses"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
