<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"jugogradnja/velux-subpage-hero"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-upit"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-subpage-features"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-pricing-osnovni"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-upit"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-ready-cta"} /-->
<!-- wp:pattern {"slug":"jugogradnja/velux-bottom-cta"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
